.content{
    width:70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.content input{
    all: unset;
    width:100%;
    border-bottom:1px solid #ececec;
    padding-bottom:10px;
    color:#ececec;
    position: relative;
}
.content input::placeholder{
    color:#d7d7d7;
    font-size:15px;
    font-weight:100;
}
.content p{
    align-self: start;
    margin:10px 0 0 0;
    color:#f95959;
    font-weight:400;
}
.content  input.on{
    border-bottom:1px solid #f95959;
}
.content  input.on::placeholder{
    color:#f95959;
    font-weight:400;
}
button{
    all:unset;
    border:1px solid #ececec;
    background-color:transparent;
    padding:15px 30px;
    border-radius:50px;
    color:#ececec;
    cursor:pointer;
}
button:hover{
    background-color:rgba(255, 255, 255, 0.05);
}
button:active{
    padding:14px 29px;
    margin:1px;
}